<ul class="media-list">
  <% @rank.each do |rank| %>
    <li class="media">
      
      <div class="media-body">
        <div class="media-title">
          <%= link_to rank.title, rank %>
        </div>
        <div class="media-user">
          <%= link_to rank.user.name, user_path(rank.user) %> <span class="text-muted">posted at <%= rank.created_at %></span>
        </div>
        <div class="media-image">
          <p><%= image_tag(rank.picture, :width => "500", :height => "responsive") %></p>
        </div>
        <div class="media-content">
          <p><%= rank.content %></p>
        </div>
      </div>
    </li>
  <% end %>
</ul>
