<ul class="media-list">
  <% @rank.each do |rank| %>
    <li class="media">
      <div class="media-left">
        <img class="media-object img-rounded" src="<%= gravatar_url(rank.user, options = { size: 50 }) %>" alt="">
      </div>
      <div class="media-body">
        <div>
          <%= link_to rank.user.name, user_path(rank.user) %> <span class="text-muted">posted at <%= rank.created_at %></span>
        </div>
        <div>
          <p><%= image_tag(rank.picture, :width => "responsive", :height => "500") %></p>
        </div>
        <div>
          <p><%= rank.content %></p>
        </div>
      </div>
    </li>
  <% end %>
</ul>
