<%= form_for(@post) do |f| %>
   <div>
      <%= f.label :title, 'タイトル' %>
      <%= f.text_field :title %>
   </div>
   <div class="form-group">
      <%= f.text_area :content, class: 'form-control', rows: 5 %>
   </div>
   <div class="field">
     <%= f.label :photo %>
     <%= f.file_field :picture, id: :post_picture %>
   </div>
   <%= f.submit 'Post', class: 'btn btn-primary btn-block' %>
<% end %>